@page
@model WebApp.Pages.Servicio.EditModel
@{
}


<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Servicio</h5>
        
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>